# Gradle
.gradle/
build/
app/build/

# Android Studio
.idea/
*.iml

# Local SDK
local.properties

# Firebase
google-services.json

# Signing Keys
*.jks
*.keystore

# Logs
*.log

# Native Build
.externalNativeBuild/
.cxx/

# OS Files
.DS_Store
Thumbs.db